{% extends "compras/base_compras.html" %}
{% block title %}Productos{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% block producto %}  

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  // Code adapted from http://djangosnippets.org/snippets/1389/

  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    if (formCount > 1) {
      // Delete the item/form
      $(btn).parents('.item').remove();

      var forms = $('.item'); // Get all the forms

      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          updateElementIndex(this, prefix, i);
        });
      }

    } // End if
    else {
        alert("You have to enter at least one todo item!");
    }
    return false;
  }


  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    // You can only submit a maximum of 10 todo items 
    if (formCount < 10) {
      // Clone a form (without event handlers) from the first form
      var row = $(".item:first").clone(false).get(0);
      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);
      
      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass('error');
      
      // Relabel/rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        if ( $(this).attr('type') == 'text' )
          $(this).val('');
      });
      
      // Add an event handler for the delete item/form link 
      $(row).find('.delete').click(function() {
        return deleteForm(this, prefix);
      });

      // Update the total form count
      $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1); 

    } // End if
    else {
      alert("Sorry, you can only enter a maximum of ten items.");
    }
    return false;
  }

  // Register the click event handlers
  $("#add").click(function() {
    return addForm(this, 'form');
  });
  
  $(".delete").click(function() {
    return deleteForm(this, 'form');
  });
});
</script>

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">     
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Clientes</li>
      </ol>
    </div><!--/.row-->    
    <div class="row">
      <div class="col-lg-12">
        <form class="form-horizontal" method="post">
                {% csrf_token %}  
                 <div class="section">
                  {{ todo_list_form.as_p }}
              </div>  
                <div class="panel panel-primary">
                   <div class="panel-heading">Agregar Medicamentos</div>
                    <div class="panel-body">
                        <div class="page-header">                            
                        <h4>
                        </h4>
                        </div><!-- page-header -->
                        <div class="row"> 
                         {{ todo_item_formset.management_form }}
                          {% for form in todo_item_formset.forms %}    
                              <div class="item">
                                <div class="col-xs-12 col-sm-12">   
                            <div class="row">
                             <div class="col-xs-5 col-sm-5">
                                 <div class="form-group has-success has-feedback  {% if form.medicamento.errors %} has-error {% endif %}">
                                     <label class="control-label col-sm-3" for="inputSuccess3">{{ form.medicamento.label_tag }}
                                     </label>
                                     <div class="col-sm-4">
                                        {{ form.medicamento }}
                                    </div>
                                 </div>
                             </div>
                             <div class="col-xs-5 col-sm-5">
                              <div class="form-group has-success has-feedback  {% if form.cantidad.errors %} has-error {% endif %}">
                                     <label class="control-label col-sm-3" for="inputSuccess3">{{ form.cantidad.label_tag }}
                                     </label>
                                     <div class="col-sm-4">
                                        {{ form.cantidad }}
                                    </div>
                                 </div>
                             </div>
                             <div class="col-xs-2 col-sm-2">
                              <p style=""><a class="delete" href="#">ELiminar</a></p>
                             </div>                              
                            </div> 
                          </div>                                
                              </div>
                              {% endfor %}
                                  <p><a id="add" href="#">Agregar</a></p>                     </div>                                                        
                        </div> <!--<div class="row"> -->                        
                        <div class="panel-footer color-footer">
                            <button type="submit" class="btn btn-primary">
                                 Grabar
                            </button>
                        </div>
                    </div>
                </div>
        </form>
      </div>
  </div><!--/.row-->
{% endblock producto %}
{% endblock content %}